@charset "utf-8";
@import url('reset.css');
@import url('../font/stylesheet.css');



:root {
    --title-font-size: 65px;
    --btn-color: #F6A0A3;
    --pink-color: #F2C3C9;
    --main-font-size: 20px;
    --brown-color: #755B4F;
    --background-color: #FEF7EF;
    --skyblue-color: #D5E6F5;
    --middle-font-size: 40px;
}

body {
    font-family: 'League Spartan';
    cursor: url('../img/cursor.png'), auto;
    min-width: 1600px;
    background-color: var(--background-color);
    /* overflow-x: hidden; */
    color: #0c0c0c;

    &::selection {
        background-color: var(--pink-color);
    }
}

a {
    cursor: inherit;
}

.menu {
    background-image: url('../img/menu-background.png');
    background-color: transparent;
    width: 100%;
    height: 126px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;

    &.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    .logo {
        order: 2;
        padding: 0 100px;
        margin-bottom: 30px;

        img {
            object-fit: cover;
            display: block;
            align-items: center;
        }
    }

    .menu1 {
        width: 500px;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-bottom: 30px;
        font-size: var(--main-font-size);

        li {
            padding: 5px;
            transition: all 0.3s;

            a {
                padding: 5px;
            }
        }
    }

    .menu2 {
        align-items: center;
        order: 2;
        width: 500px;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-bottom: 30px;
        font-size: var(--main-font-size);

        li {
            padding: 5px;
            transition: all 0.3s;

            a {
                padding: 5px;
            }
        }
    }

    li {
        &:hover {
            background-color: var(--skyblue-color);
        }
    }
}

#main {
    background: url('../img/background_blue.png') no-repeat center top;
    background-size: auto;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 100px;
    color: var(--brown-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
}

.butterfly,
.cloud,
.cat,
.flower {
    position: absolute;
    transition: transform 0.2s ease-out;
}

.butterfly {
    top: 100px;
    left: 400px;
}

.cloud {
    top: 100px;
    left: 1150px;
}

.cat {
    top: 500px;
    left: 1500px;
}

.flower {
    top: 550px;
    left: 250px;
}

.section-wrapper {
    position: relative;

    .about {
        background: url('../img/background_blue.png') no-repeat center top;
        background-size: auto;
        height: 160vh;
        border-radius: 0 0 50% 50%;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        h3 {
            font-size: var(--title-font-size);
            text-align: center;
            padding: 60px 0 70px 0;
            font-weight: 600;
        }

        .name-item {
            display: flex;
            width: 1200px;
            height: 700px;
            background-color: #fdfdfd;
            justify-content: space-around;
            margin: 0 auto;
            border-radius: 20px;
            box-shadow: 4px 4px 4px #00000028;
            align-items: center;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: -4px;
                left: -83px;
                width: 300px;
                height: 130px;
                background: url('../img/clip.png') no-repeat center/contain;
            }

            .about-left {
                margin-left: 30px;

                .name {
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;

                    li {
                        font-size: var(--main-font-size);

                        strong {
                            display: inline-block;
                            width: 70px;
                        }
                    }
                }

                img {
                    width: 300px;
                    height: 400px;
                    object-fit: cover;
                }
            }

            .about-right {
                display: flex;
                flex-direction: column;
                row-gap: 60px;

                .comment {
                    position: relative;
                    display: inline-block;
                    font-size: 30px;
                    font-weight: 600;

                    .changing-word {
                        display: inline-block;
                        animation: scrollDown 3s linear;
                        background: linear-gradient(to bottom, transparent 70%, var(--pink-color) 70%);
                    }
                }

                @keyframes scrollDown {
                    0% {
                        transform: translateY(-100%);
                        opacity: 0;
                    }

                    10% {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    80% {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    100% {
                        transform: translateY(100%);
                        opacity: 0;
                    }
                }

                .Education {
                    display: flex;
                    flex-direction: column;

                    p {
                        font-size: var(--middle-font-size);
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    span {
                        margin-bottom: 13px;
                        font-size: 15px;

                        strong {
                            font-size: 17px;
                        }
                    }
                }

                .Skill {
                    p {
                        font-size: var(--middle-font-size);
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    .icon {
                        display: flex;
                        gap: 20px;

                        .tool {
                            position: relative;

                            &::after {
                                content: attr(data-tooltip);
                                position: absolute;
                                bottom: 40px;
                                left: 50%;
                                transform: translate(-50%, 10px);
                                background: var(--skyblue-color);
                                color: var(--brown-color);
                                padding: 6px 10px;
                                font-size: 13px;
                                font-weight: 600;
                                white-space: nowrap;
                                opacity: 0;
                                pointer-events: none;
                            }

                            &:hover::after {
                                opacity: 1;
                                transform: translate(-50%, 0);
                                bottom: -40px;
                            }
                        }
                    }
                }
            }
        }
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 1;

        h4 {
            font-size: var(--title-font-size);
            font-weight: 600;
            text-align: center;
            margin: 170px 0 10px;
        }

        .project-comment {
            text-align: center;
            font-weight: 500;
            margin-bottom: 70px;
            font-size: 18px;
        }
    }

}

.project-item {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    background-color: #fdfdfd;
    margin-bottom: 200px;
    padding: 60px 50px;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    &::after {
        content: '';
        position: absolute;
        top: -50px;
        left: 40px;
        width: 200px;
        height: 100px;
        background: url('../img/masking.png') no-repeat center/contain;
        z-index: 1;
    }


    .project-left {
        font-size: var(--main-font-size);
    }

    h3 {
        color: var(--btn-color);
        font-size: var(--middle-font-size);
        font-weight: 600;
        margin-bottom: 40px;
    }

    img {
        width: 180px;
    }

    .fweelogo {
        width: 150px;
    }

    .item-comment {
        margin: 10px 0 30px;
        font-weight: 500;
        line-height: 1.5;
    }

    .text-box {
        display: flex;

        .text {
            padding: 10px 0;

            p {
                margin-bottom: 10px;
            }
        }

        img {
            width: 110px;
            height: 110px;
            margin-left: 100px;
        }
    }

    .buttons {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-top: 40px;

        a {
            padding: 15px 40px;
            font-size: 25px;
            font-weight: 600;
            border-radius: 30px;
            display: inline-block;
            background-color: #fdfdfd;
            color: var(--btn-color);
            border: 4px solid var(--btn-color);
            transition: all 0.2s;

            &:hover {
                background-color: var(--btn-color);
                color: #fdfdfd;
            }

            &.jelly {
                &:hover {
                    animation: jelly 0.5s;
                }
            }

            &.fill {
                transition: 0.3s;

                &:hover {
                    background: transparent;
                    box-shadow: inset 0 0 0 36px var(--btn-bg);
                }
            }


            @keyframes jelly {
                25% {
                    transform: scale(0.9, 1.1);
                }

                50% {
                    transform: scale(1.1, 0.9);
                }

                75% {
                    transform: scale(0.95, 1.05);
                }
            }
        }
    }
}

#webBtn {
    background-color: var(--btn-color);
    color: #fdfdfd;
}

.project-right {
    img {
        width: 600px;
    }

}

.project-item:last-child {
    .project-left {
        img {
            width: 100px;
        }
    }

    .project-right {
        img {
            width: 520px;

        }

    }
}


.line-image {
    width: 100%;
    padding: 100px 0;

    img {
        width: 100%;
    }
}

.design {
    h3 {
        font-size: var(--title-font-size);
        text-align: center;
        font-weight: 600;
        margin-bottom: 10px;
        padding-top: 180px;
    }

    .design-commet {
        margin-bottom: 100px;
        font-weight: 500;
        text-align: center;
        font-size: 18px;
    }

    .swiper-wrapper {
        margin-bottom: 150px;

        .swiper-slide {
            width: 500px;
            height: 700px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }

            #icon {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
}

.fancybox__container,
.fancybox__container *,
.fancybox__container.fancybox-is-dragging,
.fancybox__container.fancybox-is-dragging * {
    cursor: url('../img/cursor.png'), auto !important;
}

.swiper-slide a:focus {
    outline: none;
    box-shadow: none;
}


.contact {
    h3 {
        text-align: center;
        font-size: var(--title-font-size);
        font-weight: 600;
        margin-bottom: 80px;
    }

    .inner {
        background: url('../img/contact.png') no-repeat center top;
        background-size: auto;
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        h4 {
            font-size: 40px;
            font-weight: 600;
            margin: 120px 0 40px;
        }

        .inner-text {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 14px;
            padding: 5px;
            color: var(--btn-color);
            background-color: #fdfdfd;
        }

        .image-box {
            width: 500px;
            transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
            transform: perspective(800px) rotateY(0deg);
            transform-style: preserve-3d;
            display: grid;

            >* {
                grid-area: 1 / 1 / 1 / 1;
            }

            .card {
                display: block;

                img {
                    width: 100%;
                }
            }

            &:hover {
                transform: perspective(800px) rotateY(180deg);
            }

            .card_back {
                position: relative;
                transform: rotateY(180deg);
                backface-visibility: hidden;

                img {
                    width: 100%;
                }

                .text-box {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    color: var(--brown-color);


                    span {
                        font-size: 30px;
                        font-weight: 800;

                        .my-name {
                            font-size: 15px;
                        }
                    }

                    .p-box {
                        padding: 6px 0;
                        display: flex;
                        gap: 20px;

                        a:hover {
                            text-decoration: underline;
                        }
                    }

                }

                .kakao-pr {
                    position: absolute;
                    bottom: 30px;
                    right: 30px;
                    width: 80px;
                }
            }
        }



    }
}

.footer {
    background-color: var(--skyblue-color);
    text-align: center;
    padding: 32px 0 20px;
    position: relative;

    span {
        line-height: 1.5;
        font-size: 13px;
        font-weight: 600;
        color: #0000003b;
    }

    .footer-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: absolute;
        bottom: 20px;
        right: 50px;

        li {
            padding: 12px 20px;
            border-radius: 30px;
            font-weight: 500;
            color: #fdfdfd;
            background-color: var(--pink-color);
            font-size: var(--main-font-size);
            transition: all 0.2s;

            &:hover {
                background-color: var(--btn-color);
                color: #fdfdfd;
            }

            &.jelly {
                &:hover {
                    animation: jelly 0.5s;
                }
            }

            &.fill {
                transition: 0.3s;

                &:hover {
                    background: transparent;
                    box-shadow: inset 0 0 0 36px var(--btn-bg);
                }
            }


            @keyframes jelly {
                25% {
                    transform: scale(0.9, 1.1);
                }

                50% {
                    transform: scale(1.1, 0.9);
                }

                75% {
                    transform: scale(0.95, 1.05);
                }
            }
        }
    }
}