@import url("reset.css");
@import url("../font/stylesheet.css");
:root {
  --title-font-size: 65px;
  --btn-color: #F6A0A3;
  --pink-color: #F2C3C9;
  --main-font-size: 20px;
  --brown-color: #755B4F;
  --background-color: #FEF7EF;
  --skyblue-color: #D5E6F5;
  --middle-font-size: 40px;
}

body {
  font-family: "League Spartan";
  cursor: url("../img/cursor.png"), auto;
  min-width: 1600px;
  background-color: var(--background-color);
  color: #0c0c0c;
}
body::-moz-selection {
  background-color: var(--pink-color);
}
body::selection {
  background-color: var(--pink-color);
}

a {
  cursor: inherit;
}

.menu {
  background-image: url("../img/menu-background.png");
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
  width: 100%;
  height: 126px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}
.menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.menu .logo {
  order: 2;
  padding: 0 100px;
  margin-bottom: 30px;
}
.menu .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  align-items: center;
}
.menu .menu1 {
  width: 500px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 30px;
  font-size: var(--main-font-size);
}
.menu .menu1 li {
  padding: 5px;
  transition: all 0.3s;
}
.menu .menu1 li a {
  padding: 5px;
}
.menu .menu2 {
  align-items: center;
  order: 2;
  width: 500px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 30px;
  font-size: var(--main-font-size);
}
.menu .menu2 li {
  padding: 5px;
  transition: all 0.3s;
}
.menu .menu2 li a {
  padding: 5px;
}
.menu li:hover {
  background-color: var(--skyblue-color);
}

#main {
  background: url("../img/background_blue.png") no-repeat center top;
  background-size: auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 100px;
  color: var(--brown-color);
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 60px;
}
h2 strong {
  font-size: 240px;
}

.butterfly,
.cloud,
.cat,
.flower {
  position: absolute;
  transition: transform 0.2s ease-out;
}

.butterfly {
  top: 100px;
  left: 400px;
}

.cloud {
  top: 100px;
  left: 1100px;
}

.cat {
  top: 500px;
  left: 1450px;
}

.flower {
  top: 540px;
  left: 235px;
}

.section-wrapper {
  position: relative;
}
.section-wrapper .about {
  background: url("../img/background_blue.png") no-repeat center top;
  background-size: auto;
  height: 160vh;
  border-radius: 0 0 50% 50%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section-wrapper .about h3 {
  font-size: var(--title-font-size);
  text-align: center;
  padding: 60px 0 70px 0;
  font-weight: 600;
}
.section-wrapper .about .name-item {
  display: flex;
  width: 1200px;
  height: 700px;
  background-color: #fdfdfd;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1568627451);
  align-items: center;
  position: relative;
}
.section-wrapper .about .name-item::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -83px;
  width: 300px;
  height: 130px;
  background: url("../img/clip.png") no-repeat center/contain;
}
.section-wrapper .about .name-item .about-left {
  margin-left: 30px;
}
.section-wrapper .about .name-item .about-left .name {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.section-wrapper .about .name-item .about-left .name li {
  font-size: var(--main-font-size);
}
.section-wrapper .about .name-item .about-left .name li strong {
  display: inline-block;
  width: 70px;
}
.section-wrapper .about .name-item .about-left img {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-wrapper .about .name-item .about-right {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.section-wrapper .about .name-item .about-right .comment {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
}
.section-wrapper .about .name-item .about-right .comment .changing-word {
  display: inline-block;
  animation: scrollDown 3s linear;
  background: linear-gradient(to bottom, transparent 70%, var(--pink-color) 70%);
}
@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
.section-wrapper .about .name-item .about-right .Education {
  display: flex;
  flex-direction: column;
}
.section-wrapper .about .name-item .about-right .Education p {
  font-size: var(--middle-font-size);
  font-weight: 600;
  margin-bottom: 20px;
}
.section-wrapper .about .name-item .about-right .Education span {
  margin-bottom: 13px;
  font-size: 15px;
}
.section-wrapper .about .name-item .about-right .Education span strong {
  font-size: 17px;
}
.section-wrapper .about .name-item .about-right .Skill p {
  font-size: var(--middle-font-size);
  font-weight: 600;
  margin-bottom: 20px;
}
.section-wrapper .about .name-item .about-right .Skill .icon {
  display: flex;
  gap: 20px;
}
.section-wrapper .about .name-item .about-right .Skill .icon .tool {
  position: relative;
}
.section-wrapper .about .name-item .about-right .Skill .icon .tool::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 10px);
  background: var(--skyblue-color);
  color: var(--brown-color);
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}
.section-wrapper .about .name-item .about-right .Skill .icon .tool:hover::after {
  opacity: 1;
  transform: translate(-50%, 0);
  bottom: -40px;
}
.section-wrapper .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.section-wrapper .project h4 {
  font-size: var(--title-font-size);
  font-weight: 600;
  text-align: center;
  margin: 170px 0 10px;
}
.section-wrapper .project .project-comment {
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
  font-size: 18px;
}

.project-item {
  display: flex;
  justify-content: space-around;
  width: 1400px;
  background-color: #fdfdfd;
  margin-bottom: 200px;
  padding: 60px 50px;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.project-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.project-item::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 40px;
  width: 200px;
  height: 100px;
  background: url("../img/masking.png") no-repeat center/contain;
  z-index: 1;
}
.project-item .project-left {
  font-size: var(--main-font-size);
}
.project-item h3 {
  color: var(--btn-color);
  font-size: var(--middle-font-size);
  font-weight: 600;
  margin-bottom: 40px;
}
.project-item img {
  width: 180px;
}
.project-item .fweelogo {
  width: 150px;
}
.project-item .item-comment {
  margin: 10px 0 30px;
  font-weight: 500;
  line-height: 1.5;
}
.project-item .text-box {
  display: flex;
}
.project-item .text-box .text {
  padding: 10px 0;
}
.project-item .text-box .text p {
  margin-bottom: 10px;
}
.project-item .text-box img {
  width: 110px;
  height: 110px;
  margin-left: 100px;
}
.project-item .buttons {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}
.project-item .buttons a {
  padding: 15px 40px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 30px;
  display: inline-block;
  background-color: #fdfdfd;
  color: var(--btn-color);
  border: 4px solid var(--btn-color);
  transition: all 0.2s;
}
.project-item .buttons a:hover {
  background-color: var(--btn-color);
  color: #fdfdfd;
}
.project-item .buttons a.jelly:hover {
  animation: jelly 0.5s;
}
.project-item .buttons a.fill {
  transition: 0.3s;
}
.project-item .buttons a.fill:hover {
  background: transparent;
  box-shadow: inset 0 0 0 36px var(--btn-bg);
}
@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

#webBtn {
  background-color: var(--btn-color);
  color: #fdfdfd;
}

.project-right img {
  width: 600px;
}

.project-item:last-child .project-left img {
  width: 100px;
}
.project-item:last-child .project-right img {
  width: 520px;
}

.line-image {
  width: 100%;
  padding: 100px 0;
}
.line-image img {
  width: 100%;
}

.design h3 {
  font-size: var(--title-font-size);
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  padding-top: 180px;
}
.design .design-commet {
  margin-bottom: 100px;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}
.design .swiper-wrapper {
  margin-bottom: 150px;
}
.design .swiper-wrapper .swiper-slide {
  width: 500px;
  height: 700px;
  position: relative;
}
.design .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.design .swiper-wrapper .swiper-slide #icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.fancybox__container,
.fancybox__container *,
.fancybox__container.fancybox-is-dragging,
.fancybox__container.fancybox-is-dragging * {
  cursor: url("../img/cursor.png"), auto !important;
}

.swiper-slide a:focus {
  outline: none;
  box-shadow: none;
}

.contact h3 {
  text-align: center;
  font-size: var(--title-font-size);
  font-weight: 600;
  margin-bottom: 80px;
}
.contact .inner {
  background: url("../img/contact.png") no-repeat center top;
  background-size: auto;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact .inner h4 {
  font-size: 40px;
  font-weight: 600;
  margin: 120px 0 40px;
}
.contact .inner .inner-text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  background-color: var(--background-color);
  color: var(--btn-color);
  letter-spacing: 3px;
  transition: all 0.3s;
}
.contact .inner .image-box {
  width: 500px;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transform: perspective(800px) rotateY(0deg);
  transform-style: preserve-3d;
  display: grid;
}
.contact .inner .image-box > * {
  grid-area: 1/1/1/1;
}
.contact .inner .image-box .card {
  display: block;
}
.contact .inner .image-box .card img {
  width: 100%;
}
.contact .inner .image-box:hover {
  transform: perspective(800px) rotateY(180deg);
}
.contact .inner .image-box:hover .inner-text {
  animation: none;
  opacity: 0;
}
.contact .inner .image-box .card_back {
  position: relative;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.contact .inner .image-box .card_back img {
  width: 100%;
}
.contact .inner .image-box .card_back .text-box {
  position: absolute;
  top: 30px;
  left: 30px;
  color: var(--brown-color);
}
.contact .inner .image-box .card_back .text-box span {
  font-size: 30px;
  font-weight: 800;
}
.contact .inner .image-box .card_back .text-box span .my-name {
  font-size: 15px;
}
.contact .inner .image-box .card_back .text-box .p-box {
  padding: 6px 0;
  display: flex;
  gap: 20px;
}
.contact .inner .image-box .card_back .text-box .p-box a:hover {
  text-decoration: underline;
}
.contact .inner .image-box .card_back .kakao-pr {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 80px;
}

.footer {
  background-color: var(--skyblue-color);
  text-align: center;
  padding: 32px 0 20px;
  position: relative;
}
.footer span {
  line-height: 1.5;
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.231372549);
}
.footer .footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.footer .footer-btn li {
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: 500;
  color: #fdfdfd;
  background-color: var(--pink-color);
  font-size: var(--main-font-size);
  transition: all 0.2s;
}
.footer .footer-btn li:hover {
  background-color: var(--btn-color);
  color: #fdfdfd;
}
.footer .footer-btn li.jelly:hover {
  animation: jelly 0.5s;
}
.footer .footer-btn li.fill {
  transition: 0.3s;
}
.footer .footer-btn li.fill:hover {
  background: transparent;
  box-shadow: inset 0 0 0 36px var(--btn-bg);
}
@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}/*# sourceMappingURL=main.css.map */